.playlist-link{
background-color:white;
}

.nav-side{
    overflow:hidden;
    overflow-y: scroll;
    background-color:rgb(210, 25, 56);
}

.nav-side::-webkit-scrollbar{
    display: none;
    
  }



 