.music-cards{
    background-color: rgb(250, 250, 250);
    height: 90%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    padding: 2% ;
    flex-direction: row-reverse;
   
}

.music-cards> div:hover{
    box-shadow: 20px 20px 30px rgb(185, 163, 35);
    
}

