.music-cards{
    background-color: rgb(244, 247, 250);
    height: 90%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 2%;
}

.music-cards> div:hover{
    box-shadow: 20px 20px 30px rgb(185, 163, 35);
}

